/*==========  Donut Statistique  ==========*/
.year, .projets, .clients, .coffee { position: relative; display: inline-block; width: 120px; height: 120px; margin-top: 50px; margin-bottom: 50px; margin: 50px 20px; text-align: center; font-size: 1.4em; font-weight: 300; }
.year canvas, .projets canvas, .clients canvas, .coffee canvas { position: absolute; top: 0; left: 0; }

.percent { display: inline-block; line-height: 50px; z-index: 2; }
.percent:after { content: '%'; margin-left: 0.1em; }

.annees { display: inline-block; line-height: 50px; z-index: 2; }
.annees:after { content: ''; margin-left: 0.1em; }

.tasses { display: inline-block; line-height: 50px; z-index: 2; }
.tasses:after { content: ''; margin-left: 0.1em; }
