@import "framework_colors.scss";
@import "compass/css3";
@import "foundation";

/*==========  Background  ==========*/

body.login {
    background: #1abc9c;
    div#login {
        width: 50%;
        // height: 166px;
        h1 {
            a {
                background: url(../img/logo/logo-admin.png) no-repeat;
                background-size: 311px 19px;
                width: 311px;
                height: 19px;
                display: block;
            }
        }
        p.tagline {
            text-align: center;
            color: #fff;
        }
        form#loginform {
            padding: 26px 20px;
        border-bottom: 2px solid $alizarin;
            
            p {

            @include grid-column($columns : 5); 
               
                margin-right: 10px;
                label {}
            }
            input {}
            input#user_login {
                @include border-radius(5px);
                width: 100%;
                background:url('../img/ico/icon-email.png') no-repeat 10px center;
                padding-left: 35px;
            }
            input#user_pass {
                @include border-radius(5px);
                width: 100%;
                background:url('../img/ico/icon-lock.png') no-repeat 10px center;
                padding-left: 35px;
            }
            p.forgetmenot {
                display: none;
                input#rememberme {}
            }
            p.submit {
                @include grid-column($columns : 2); 
                margin-top: 23px;
              
                .button-primary {
                    border-color: #b5b5b5;
                }
                input#wp-submit {
                    background: #3d3d3d;
                    border: none;
                    border-color: #b5b5b5;
                    width: 100%;
                    // border: 1px solid $alizarin;
                    color: #b5b5b5;
                    height: 41px;
                    @include single-transition(all, 300ms, ease-out);
                    &:hover {
                        color: white;
                        background: $alizarin;
                    }
                }
            }
        }
        p#nav {
            text-align: center;
            a {
                color: #fff;
            }
        }
        p#backtoblog {
            a {
                display: none;
            }
        }
    }
}

/*==========  Admin bar  ==========*/
#wpadminbar #wp-admin-bar-wp-logo > .ab-item .ab-icon:before {
    content: "\f105";
    top: 2px;
}