<div id="about">
    <header>
        <h2>Agence Web digitale</h2>
        <h1>Agency Thirteen</h1>
        <div class="content-side">
            <span class="icon"> <i class="fa fa-umbrella"></i>
            </span>
        </div>
    </header>
    <h2>Nous sommes Digital</h2>
    <div class="large-12 columns">
        <p>
        Agency Thirteen est une agence web basée à
        <span class="pseudo-link">Evreux</span>
        en Haute Normandie. Avec des années d'expérience dans l'industrie, des faisceaux de magie créative et une forte passion pour la conception web, vous pouvez être certain que tous nos projets sont réalisés rapidement et selon les normes industrielles les plus élevées.
        Notre
        <span class="pseudo-link">expérience</span>
        et nos méthodes de travail s'assurer que les sites que nous concevons, développons et optimiser dépasse les attentes de nos clients. Tout notre travail est fait par nous, en France. Cela signifie que vous pouvez toujours assurer la liaison avec votre designer pour créer
        <span class="pseudo-link">un design de site Web</span>
        qui représente votre entreprise de la manière la plus efficace.
        </p>
        <p>
        Nous croyons fermement à la création honnête, des relations durables avec nos clients. Nous n'allons pas vous bombarder de jargon technologique et le but de vous tenir au courant à chaque étape du processus de conception, du devis initial à l'entretien continu du site.
        </p>
        Avons-nous mentionné que nous sommes vraiment sympa ? Contactez-nous!
    </div>
    <div id="services-details" class="section">
        <h2>Ce que nous faisons</h2>
        <hr />
        <div class="large-12 column">
            <ul class="large-block-grid-4">
                <li id="serv-design">
                    <a href="#" data-reveal-id="design" >
                    <span class="hi-icon-small fa fa-pencil"></span>
                    <h6>
                    <span class="pseudo-link">Design</span>
                    </h6>
                    <p class="text-concrete">
                    Plus qu'un ensemble de pixel, c'est là que nous nous assurons que votre site soit magnifique et fonctionne parfaitement.
                    </p>
                    <p class="ng-button gray">en savoir plus</p>
                    </a>
                </li>
                <li  id="serv-dev">
                    <a href="#" data-reveal-id="dev" >
                    <span class="hi-icon-small fa fa-code"></span>
                    <h6>
                    <span class="pseudo-link">Développement</span>
                    </h6>
                    <p class="text-concrete">
                    Transformer les designs en code avec notre savoir et la magie du codage. Afin de constuire des projets conviviaux
                    </p>
                    <p class="ng-button gray">en savoir plus</p>
                    </a>
                </li>
                <li  id="serv-commerce">
                    <a href="#" data-reveal-id="e-commerce">
                    <span class="hi-icon-small fa fa-barcode"></span>
                    <h6>
                    <span class="pseudo-link">Ecommerce</span>
                    </h6>
                    <p class="text-concrete">
                    Nous pouvons vous aider avec tous les aspects de paiement ainsi qu'à la conception totale de votre solution.
                    </p>
                    <p class="ng-button gray">en savoir plus</p>
                    </a>
                </li>
                <li  id="serv-ux">
                    <a href="#" data-reveal-id="ux" >
                    <span class="hi-icon-small fa fa-list-ul"></span>
                    <h6>
                    <span class="pseudo-link">Experience Utilisateur</span>
                    </h6>
                    <p class="text-concrete">
                    UX est une partie cruciale de tous nos projets - assurer un écoulement naturel que chacun puisse utiliser et profiter.
                    </p>
                    <p class="ng-button gray">en savoir plus</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="statistique-container" class="section">
        <h2>Nos statistiques</h2>
        <hr />
        <ul id="statistic">
            <li class="large-3 small-12 columns">
                <span class="year view" data-percent="10">
                <span class="annees"></span>
                </span>
                <p>années d’experience</p>
            </li>
            <li class="large-3 small-12 columns">
                <span class="projets view" data-percent="70">
                <span class="percent"></span>
                </span>
                <p>capacité actuelle de projet</p>
            </li>
            <li class="large-3 small-12 columns">
                <span class="clients view" data-percent="83">
                <span class="percent"></span>
                </span>
                <p>clients heureux</p>
            </li>
            <li class="large-3 small-12 columns">
                <span class="coffee view" data-percent="2400">
                <span class="tasses"></span>
                </span>
                <p>tasses de café</p>
            </li>
        </ul>
    </div>
  
</div>
<!-- Modal Design -->
<div id="design" class="reveal-modal small" data-reveal>
    <h2>Design</h2>
    <div class="row">
        <div class="large-12 columns">
            <p>
            Suivant la conception ... nous pourrions tomber sur le jackpot la première fois ou nous pouvons exiger une certaine interaction pour obtenir des designs juste.
            Nous ne fournissons pas de multiples concepts dès le départ. Nous croyons qu'il dilue idées nous préférons nous concentrer sur ce que nous pensons être la bonne approche.
            </p>
            <p>
            Nous essayons de nous assurer tous nos conceptions s'adaptent aux petits écrans, comme à la tablette et au téléphone. Nous allons faire un plan sur la façon dont votre conception répond aux différentes tailles d'écran.
            Une fois que vous êtes satisfait, nous pouvons nous remonter les manches et passer à la technique ...
            </p>
        </div>
    </div>
    <hr />
    <div class="footer">
        <div class="large-9 columns">
            <h5>Interessé de travailler avec nous</h5>
            <p>Lancez notre planificateur de projet pour commencer.</p>
            <a href="/planificateur" class="ng-button gray">Commencer</a>
        </div>
    </div>
    <a class="close-reveal-modal">&#xf057;</a>
</div>
<!-- End Modal Design -->
<!-- Modal Developpement -->
<div id="dev" class="reveal-modal small" data-reveal>
    <h2>Developpement</h2>
    <div class="row">
        <div class="large-12 columns">
            <p>
            Ici, nous tournons nos designs pour qu'ils puissent fonctionner dans les navigateurs.
            C'est aussi là que nous luttons pour s'assurer que le site fonctionne correctement. En termes de tests, nous nous assurons d'écraser les bugs qui se cachent au fur et à mesure plutôt que d'attendre la fin du projet.
            Nous allons vous assurer que le site sache automatiquement quelle sorte d'appareil vous utilisez pour s'adapte en conséquence.
            </p>
            <p>
            Un peu d'information pour les plus férus de technique (nerds) - nous utilisons PHP, MySQL, Javascript et HTML / CSS pour construire ensemble de nos sites ... le résultat final se hébergé sur des serveurs Linux.
            </p>
        </div>
    </div>
    <hr />
    <div class="footer">
        <div class="large-9 columns">
            <h5>Interessé de travailler avec nous</h5>
            <p>Lancez notre planificateur de projet pour commencer.</p>
            <a href="/planificateur" class="ng-button gray">Commencer</a>
        </div>
    </div>
    <a class="close-reveal-modal">&#xf057;</a>
</div>
<!-- End Modal Design -->
<!-- Modal Ecommerce -->
<div id="e-commerce" class="reveal-modal small" data-reveal>
    <h2>E-Commerce</h2>
    <div class="row">
        <div class="large-12 columns">
            <p>
            Si vous songez à démarrer une nouvelle entreprise ou vous souhaitez apporter des modifications à un système existant de vente en ligne, cela peut être délicat.
            Nous examinons ce qui motive les gens à acheter chez vous et d'adapter notre travail autour de cela.
            En travaillant avec des entreprises différentes, nous avons beaucoup d'expérience avec la réduction des tâches administratives de détail en ligne.
            </p>
        </div>
    </div>
    <hr />
    <div class="footer">
        <div class="large-9 columns">
            <h5>Interessé de travailler avec nous</h5>
            <p>Lancez notre planificateur de projet pour commencer.</p>
            <a href="/planificateur" class="ng-button gray">Commencer</a>
        </div>
    </div>
    <a class="close-reveal-modal">&#xf057;</a>
</div>
<!-- End Modal Design -->
<!-- Modal ux -->
<div id="ux" class="reveal-modal small" data-reveal>
    <h2>Experience Utilisateur</h2>
    <div class="row">
        <div class="large-12 columns">
            <p>
            Selon l'ampleur du projet que nous pourrions développer et suivant ce que nous avons appris lors de la planification, nous produirons de représentations filaires.

            Fil de fer sont simplement des mises de pages qui montrent où les choses iront. Ils ne sont pas décorées à ce stade mais existent pour faire un [framework] solide que nous pourrons utiliser pour concevoir votre site.
            </p>
            <p>
            Nous nous en tenons habituellement à la création de seulement trois représentations filaires des pages les plus importantes sur un site, mais sur des sites plus importants, nous pouvons créer un prototype entièrement fonctionnel.
            Une fois que tout cela est approuvé, nous pouvons envisager de créer des concepts pour vous ...
            </p>
        </div>
    </div>
    <hr />
    <div class="footer">
        <div class="large-9 columns">
            <h5>Interessé de travailler avec nous</h5>
            <p>Lancez notre planificateur de projet pour commencer.</p>
            <a href="/planificateur" class="ng-button gray">Commencer</a>
        </div>
    </div>
    <a class="close-reveal-modal">&#xf057;</a>
</div>
<!-- End Modal Design -->