	/*==========  Section About  ==========*/
#about,
#partenaires,
#tweets{
	margin-top: emCalc(20);
	text-align: center;



	h1,h2,h3{
	display: block;
	text-align: center;
	
	}
	
	header{
		h1{
		margin-top: 0;
	}
	h2{
		margin-bottom: 0;
	}
	 h1 {
        font-weight: 700;
    }
    h2 {
        font-weight: 300;
        //font-size: emCalc(30);
    }
	}
	
	p{
		line-height: emCalc(25);
		font-weight: 100;
		
	}

	hr{	

		margin-bottom: emCalc(40);
		width: 10%;
		margin-right: auto;
		margin-left: auto;
		
		display: inline-block;
		
	}
	.bird{
		display: block;
		text-align: center;
		
	}
	.section{
		margin-top: emCalc(40);
		margin-bottom: emCalc(60);
		float: left;
		@include grid-column(12);

	}
	
	
}

/*==========  Section servies  ==========*/

#services-details{
	
	@include grid-column($columns : 12); 

	#design{
		h2{
			margin-bottom: 0;
		}
		.lead{
			color: $alizarin;
		}
	}
	// #serv-design ,
	// #serv-dev,
	// #serv-commerce,
	// #serv-ux{
	// 	visibility: hidden;
	// }
	
}

/*==========  Section partenaires  ==========*/
#partenaires{
	li{
		list-style: none;
		@include grid-column(3);
	
	}
	span{
		margin-top: emCalc(20);
		margin-bottom: emCalc(20);
		display: block;
		

	}
}

/*==========  Statistique  ==========*/
#statistic{
	//visibility: hidden;
	

	li{
		
		list-style-type: none;
		

		p{
			color: $silver;
			text-transform: uppercase;
			margin: 0;
		}
		span{
			margin-bottom: emCalc(10);
		}
		
	}
	.pseudo-label{
		text-align: center;
		display: block;
		text-transform: uppercase;
		color: $silver
		
	}

	#years,
	#projects,
	#clients,
	#coffee{
		visibility: hidden;
	}
}
#graph {
  width: 800px;
  height: 250px;
  margin: 20px auto 0 auto;
}

.morris-hover{position:absolute;z-index:1000}.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#666;background:rgba(255,255,255,0.8);border:solid 2px rgba(230,230,230,0.8);font-family:sans-serif;font-size:12px;text-align:center}.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0}

/*==========  Partenaires  ==========*/
.partenaire-container{
	 @include block-grid($per-row: 3);
	.partenaires{
		
	}
}

.partenaire-container > li{
	clear: none !important;
}