/*==========  Admin bar Logo ==========*/
#wpadminbar {
    #wp-admin-bar-wp-logo > .ab-item .ab-icon:before {
        content: url(http://gfx.wecoastdesign.com/nightmare/icon/icon-nightmare.png);
        top: 2px;
    }

}