/* iCheck plugin Flat skin
----------------------------------- */

.icheckbox_flat, .iradio_flat {
  display: block;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(../img/flat.png) no-repeat;
  border: none;
  cursor: pointer;
}

.icheckbox_flat {
  background-position: 0 0;
  &.checked {
    background-position: -22px 0;
  }
  &.disabled {
    background-position: -44px 0;
    cursor: default;
  }
  &.checked.disabled {
    background-position: -66px 0;
  }
}

.iradio_flat {
  background-position: -88px 0;
  &.checked {
    background-position: -110px 0;
  }
  &.disabled {
    background-position: -132px 0;
    cursor: default;
  }
  &.checked.disabled {
    background-position: -154px 0;
  }
}

/* Retina support */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  .icheckbox_flat, .iradio_flat {
    background-image: url(../img/flat@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px;
  }
}

/* red */

.icheckbox_flat-red, .iradio_flat-red {
  display: block;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(../img/red.png) no-repeat;
  border: none;
  cursor: pointer;
}

.icheckbox_flat-red {
  background-position: 0 0;
  &.checked {
    background-position: -22px 0;
  }
  &.disabled {
    background-position: -44px 0;
    cursor: default;
  }
  &.checked.disabled {
    background-position: -66px 0;
  }
}

.iradio_flat-red {
  background-position: -88px 0;
  &.checked {
    background-position: -110px 0;
  }
  &.disabled {
    background-position: -132px 0;
    cursor: default;
  }
  &.checked.disabled {
    background-position: -154px 0;
  }
}

/* Retina support */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  .icheckbox_flat-red, .iradio_flat-red {
    background-image: url(../img/red@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px;
  }
}

/* green */

.icheckbox_flat-green, .iradio_flat-green {
  display: block;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(green.png) no-repeat;
  border: none;
  cursor: pointer;
}

.icheckbox_flat-green {
  background-position: 0 0;
  &.checked {
    background-position: -22px 0;
  }
  &.disabled {
    background-position: -44px 0;
    cursor: default;
  }
  &.checked.disabled {
    background-position: -66px 0;
  }
}

.iradio_flat-green {
  background-position: -88px 0;
  &.checked {
    background-position: -110px 0;
  }
  &.disabled {
    background-position: -132px 0;
    cursor: default;
  }
  &.checked.disabled {
    background-position: -154px 0;
  }
}

/* Retina support */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  .icheckbox_flat-green, .iradio_flat-green {
    background-image: url(green@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px;
  }
}

/* blue */

.icheckbox_flat-blue, .iradio_flat-blue {
  display: block;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(blue.png) no-repeat;
  border: none;
  cursor: pointer;
}

.icheckbox_flat-blue {
  background-position: 0 0;
  &.checked {
    background-position: -22px 0;
  }
  &.disabled {
    background-position: -44px 0;
    cursor: default;
  }
  &.checked.disabled {
    background-position: -66px 0;
  }
}

.iradio_flat-blue {
  background-position: -88px 0;
  &.checked {
    background-position: -110px 0;
  }
  &.disabled {
    background-position: -132px 0;
    cursor: default;
  }
  &.checked.disabled {
    background-position: -154px 0;
  }
}

/* Retina support */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  .icheckbox_flat-blue, .iradio_flat-blue {
    background-image: url(blue@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px;
  }
}

/* aero */

.icheckbox_flat-aero, .iradio_flat-aero {
  display: block;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(aero.png) no-repeat;
  border: none;
  cursor: pointer;
}

.icheckbox_flat-aero {
  background-position: 0 0;
  &.checked {
    background-position: -22px 0;
  }
  &.disabled {
    background-position: -44px 0;
    cursor: default;
  }
  &.checked.disabled {
    background-position: -66px 0;
  }
}

.iradio_flat-aero {
  background-position: -88px 0;
  &.checked {
    background-position: -110px 0;
  }
  &.disabled {
    background-position: -132px 0;
    cursor: default;
  }
  &.checked.disabled {
    background-position: -154px 0;
  }
}

/* Retina support */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  .icheckbox_flat-aero, .iradio_flat-aero {
    background-image: url(aero@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px;
  }
}

/* grey */

.icheckbox_flat-grey, .iradio_flat-grey {
  display: block;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(grey.png) no-repeat;
  border: none;
  cursor: pointer;
}

.icheckbox_flat-grey {
  background-position: 0 0;
  &.checked {
    background-position: -22px 0;
  }
  &.disabled {
    background-position: -44px 0;
    cursor: default;
  }
  &.checked.disabled {
    background-position: -66px 0;
  }
}

.iradio_flat-grey {
  background-position: -88px 0;
  &.checked {
    background-position: -110px 0;
  }
  &.disabled {
    background-position: -132px 0;
    cursor: default;
  }
  &.checked.disabled {
    background-position: -154px 0;
  }
}

/* Retina support */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  .icheckbox_flat-grey, .iradio_flat-grey {
    background-image: url(grey@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px;
  }
}

/* orange */

.icheckbox_flat-orange, .iradio_flat-orange {
  display: block;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(orange.png) no-repeat;
  border: none;
  cursor: pointer;
}

.icheckbox_flat-orange {
  background-position: 0 0;
  &.checked {
    background-position: -22px 0;
  }
  &.disabled {
    background-position: -44px 0;
    cursor: default;
  }
  &.checked.disabled {
    background-position: -66px 0;
  }
}

.iradio_flat-orange {
  background-position: -88px 0;
  &.checked {
    background-position: -110px 0;
  }
  &.disabled {
    background-position: -132px 0;
    cursor: default;
  }
  &.checked.disabled {
    background-position: -154px 0;
  }
}

/* Retina support */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  .icheckbox_flat-orange, .iradio_flat-orange {
    background-image: url(orange@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px;
  }
}

/* yellow */

.icheckbox_flat-yellow, .iradio_flat-yellow {
  display: block;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(yellow.png) no-repeat;
  border: none;
  cursor: pointer;
}

.icheckbox_flat-yellow {
  background-position: 0 0;
  &.checked {
    background-position: -22px 0;
  }
  &.disabled {
    background-position: -44px 0;
    cursor: default;
  }
  &.checked.disabled {
    background-position: -66px 0;
  }
}

.iradio_flat-yellow {
  background-position: -88px 0;
  &.checked {
    background-position: -110px 0;
  }
  &.disabled {
    background-position: -132px 0;
    cursor: default;
  }
  &.checked.disabled {
    background-position: -154px 0;
  }
}

/* Retina support */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  .icheckbox_flat-yellow, .iradio_flat-yellow {
    background-image: url(yellow@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px;
  }
}

/* pink */

.icheckbox_flat-pink, .iradio_flat-pink {
  display: block;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(pink.png) no-repeat;
  border: none;
  cursor: pointer;
}

.icheckbox_flat-pink {
  background-position: 0 0;
  &.checked {
    background-position: -22px 0;
  }
  &.disabled {
    background-position: -44px 0;
    cursor: default;
  }
  &.checked.disabled {
    background-position: -66px 0;
  }
}

.iradio_flat-pink {
  background-position: -88px 0;
  &.checked {
    background-position: -110px 0;
  }
  &.disabled {
    background-position: -132px 0;
    cursor: default;
  }
  &.checked.disabled {
    background-position: -154px 0;
  }
}

/* Retina support */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  .icheckbox_flat-pink, .iradio_flat-pink {
    background-image: url(pink@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px;
  }
}

/* purple */

.icheckbox_flat-purple, .iradio_flat-purple {
  display: block;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(purple.png) no-repeat;
  border: none;
  cursor: pointer;
}

.icheckbox_flat-purple {
  background-position: 0 0;
  &.checked {
    background-position: -22px 0;
  }
  &.disabled {
    background-position: -44px 0;
    cursor: default;
  }
  &.checked.disabled {
    background-position: -66px 0;
  }
}

.iradio_flat-purple {
  background-position: -88px 0;
  &.checked {
    background-position: -110px 0;
  }
  &.disabled {
    background-position: -132px 0;
    cursor: default;
  }
  &.checked.disabled {
    background-position: -154px 0;
  }
}

/* Retina support */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  .icheckbox_flat-purple, .iradio_flat-purple {
    background-image: url(purple@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px;
  }
}