#archive {
	h2 {
		font-weight : 600;

		margin-bottom : 30px;

		@include grid-column($columns : 12);
	}
	ul.archive-list {
		margin-left : 0;

		@include grid-column($columns : 12);
		li.archive {
			padding-left : 0;

			list-style : none;

			@include grid-column($columns : 12);
			h2.entry-title {
				a {
					font-size : 25px;
					font-weight : 600;
					font-weight : 600;

					margin-top : 0;
				}
			}
		}
		.author-content {
			color : $silver;
		}
	}
	li.separation {
		list-style : none;

		@include grid-column($columns : 12);
	}
	#content{
		background:white;
	}
}
