#content {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background: white;
    .entry-content {
        img {
            margin-bottom: 20px;
        }
    }
    h1.entry-title {
        text-transform: capitalize;
        font-size: 35px;
    }
}

.bio {
    margin-top: rem-calc(20);
    padding-right: 0;
    padding-left: rem-calc(30);
    border-color: none;
    #bio-face {
        position: relative;
        margin-bottom: 60px;
        height: 246px;
        .background {
            position: absolute;
            top: 0;
            left: 0;
        }
        .face {
            position: absolute;
            right: 35%;
            bottom: -57px;
            width: 100px;
        }
    }
    h3 {
        display: block;
        text-align: center;
        font-weight: 700;
        font-size: rem-calc(16);
    }
}

#blog-page {
    margin-top: rem-calc(20);
    li {
        @include grid-column($columns: 6);
        margin-bottom: rem-calc(20);
        list-style: none;
        h2 {
            &.entry-title {
                margin-top: rem-calc(10);
                font-weight: 600;
                font-size: rem-calc(20);
            }
        }
        .thumb {
            position: relative;
            .author-content {
                position: absolute;
                bottom: rem-calc(20);
                padding: rem-calc(5 10);
                background: white;
                font-size: rem-calc(12);
                a {
                    color: black;
                    text-transform: uppercase;
                    font-size: rem-calc(12);
                }
            }
            span.time {
                margin-left: rem-calc(10);
            }
        }
        .moretag {
            @include border-radius(5px);
            display: inline-block;
            clear: both;
        }
    }
    .category {
        position: absolute;
        bottom: rem-calc(55);
        float: left;
        padding: rem-calc(5 10);
        background: $alizarin;
        color: white;
        text-transform: uppercase;
        font-size: rem-calc(12);
    }
}

.widget.panel {
    li {
        list-style: none;
    }
}

// Meta
.meta-autor {
    margin-bottom: 20px;
    .byline.author {
        float: left;
        margin-right: 10px;
    }
    time {
        margin-right: 10px;
    }
}