@import "framework_colors";
@import "compass/css3";
@import "foundation/components/buttons";
/*==========  Button Header  ==========*/
.ng-button {
    @include button($button-med, $alizarin,true);
    // @include button-size($button-med, false, false);
    // @include radius;
    @include single-transition;
    margin-right: rem-calc(10);
    color: $white;
    border: none;
    text-transform: uppercase;
    font-weight: 300;
    i {
        margin-left: 10px;
    }
}
.ng-button.small{
		@include button-size($button-sml);

		}
.turquoise {
    background: $turquoise;
    &:hover {
        background: darken($turquoise, 5%);
        color: $white;
    }
}

.river {
    background: $river;
    &:hover {
        background: darken($river, 5%);
        color: $white;
    }
}

.gray {
    background: $silver;
    &:hover {
        background: darken($silver, 25%);
        color: $white;
    }
}

/*==========  Typography  ==========*/

.bold {
    font-weight: 700;
}

hr {
    border-left: emCalc(14) solid $agency;
    border-right: emCalc(14) solid $agency;
}

/*==========  Radius  ==========*/

.rounded {
    border-radius: 10px;
}

/*==========  bouton 3d  ==========*/

.ng-button.dimensional {
    background: $alizarin;
    @include box-shadow($pomegranate 0 3px 0px);
    color: $white;
    &:hover {
        background: darken($alizarin, 5%);
    }
}