@import 'buttons';
@import 'typography';
@import 'forms';
@import 'fancyselect';
//@import 'partials/all';
// @import 'partials/red';
@import 'animations';

/*==========  Show and Hide Function  ==========*/

.icon-wrap{
margin: 0 auto;
padding: 2em 0 3em;
text-align: center;

	}
.hi-icon-small {
position: relative;
z-index: 1;
display: inline-block;
margin: 15px 30px;
width: 100px;
height: 100px;
border-radius: 50%;
background:$alizarin;
color: #fff;
text-align: center;
font-size: 0px;
cursor: pointer;
}

.hi-icon-small:after {
position: absolute;
-webkit-box-sizing: content-box; 
-moz-box-sizing: content-box; 
box-sizing: content-box;
width: 100%;
height: 100%;
border-radius: 50%;
content: '';
pointer-events: none;

}

.hi-icon-small:before {
display: block;
text-transform: none;
font-weight: normal;
font-style: normal;
font-variant: normal;
font-size: 28px;
font-family: 'FontAwesome';
line-height: 100px;
speak: none;
-webkit-font-smoothing: antialiased;
}


/*==========  Link  ==========*/
.pseudo-link{
	border-bottom: 1px solid $alizarin;

}

/*==========  Color Text  ==========*/
.text-concrete{
		color: $concrete;
	}

body.modalBlur{
	@include transition(all 0.4s ease);
	@include filter (blur(8px));
	//@include transform(scale(0.9));
	@include opacity(0.9);
}

/*==========  Reveal  ==========*/
.reveal-modal{
	@include border-radius(5px)
}
.close-reveal-modal{
font-family: FontAwesome;
color: $silver;
display: block;
content: '/f057';
width: 16px;
height: 16px;

}

/*==========  Waypoint  ==========*/
.service{
	display: none;
	
}

/*==========  Confirmation  ==========*/

#confirmation{
	text-align: center;

	span.hand{
		background:url(../img/icons/hand.png) no-repeat center;
		display: block;
		height: 90px;
		margin-top: emCalc(20);
		margin-bottom: emCalc(20);
	}
}
