/*==========  Section Contact  ==========*/
#sidebar-contact {
    margin-top: emCalc(20);
    margin-bottom: emCalc(20);
    .founder {
        .name {
            text-transform: uppercase;
        }
        .title {
            color: $silver;
        }
        span {
            //display: block;
            margin-bottom: emCalc(10);
        }
        p {
            margin-bottom: 0;
        }
    }
    .social {
        a {
            font-size: emCalc(30);
            color: $silver;
            &:hover {
                color: lighten($alizarin, 15%);
            }
        }
    }
}

.content-side {
    border-top: 1px solid $silver;
    text-align: center;
    margin-top: emCalc(40);
    margin-bottom: emCalc(40);

    h5,
    .icon {
        position: relative;
        top: -14px;
        display: inline-block;
        margin: 0px;
        padding: 0 12px;
        background: whitesmoke;
        color: #EB6248;
        font-size: emCalc(20);
    }
}

ul.social{
    @include grid-column(7, false, true);
    li{
        list-style: none;
        float: left;
        margin-right: emCalc(5)
    }
}
tr.gfield_list_row_odd{
    background: #f5f5f5;
}