@import "compass/css3/transition";
@import "framework_colors";

div.fancy-select {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  font-size: emCalc(13);
  color: $white;
  text-align: center;
  
  &.disabled {
    opacity: 0.5;
  }
  select:focus + div.trigger {
    //box-shadow: 0 0 0 2px #4B5468;
    &.open {
      box-shadow: none;
    }
  }
  div.trigger {
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 24px 9px 9px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    background: #bdc3c7;
    //border: 1px solid $silver;
    border-top-color: #A5B2CB;
    color: $white;
    //box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    width: 150px;

    @include transition (all 240ms ease-out);
   
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-top-color: $white;
      top: 20px;
      right: 9px;
    }
    &.open {
      background: $alizarin;
      border: 1px solid darken($alizarin, 10%);
      color: $white;
      box-shadow: none;
      &:after {
        border-top-color: darkent($alizarin,10%);
      }
    }
  }
  ul.options {
    list-style: none;
    margin: 0;
    position: absolute;
    top: 40px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 50;
    max-height: 200px;
    overflow: auto;
    background: $alizarin;
    border-radius: 4px;
    border-top: 1px solid #7DD8D2;
    //box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    min-width: 200px;
    @include transition (opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out);

    &.open {
      visibility: visible;
      top: 50px;
      opacity: 1;
      color: $white;
      /* have to use a non-visibility transition to prevent this iOS issue (bug?): */
      /*http://stackoverflow.com/questions/10736478/css-animation-visibility-visible-works-on-chrome-and-safari-but-not-on-ios*/
      @include transition (opacity 300ms ease-out, top 300ms ease-out);

    }
    &.overflowing {
      top: auto;
      bottom: 40px;
      @include transition(opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out);
    
      &.open {
        top: auto;
        bottom: 50px;
        @include transition(opacity 300ms ease-out, bottom 300ms ease-out);

      }
    }
    li {
      padding: 8px 12px;
      color: $white;
      cursor: pointer;
      white-space: nowrap;
      @include transition(all 150ms ease-out);
 
      &.selected {
        background: darken($alizarin,10%);
        color: $white;
      }
      &.hover {
        color: lighten($alizarin,10%);
      }
    }
  }
}