#footer-top {
    padding-top: emCalc(50);
    padding-bottom: emCalc(50);
    background: #333;
    p {
        margin-bottom: 0;
        //@include grid-column(8,false, true);
        color: #a49b9a;
        text-align: center;
        text-transform: uppercase;
        font-size: emCalc(12);
        a {
            color: $white;
        }
    }
}

#footer-bottom {
    padding-top: emCalc(30);
    padding-bottom: emCalc(30);
    background: #000;
    color: #9f9f9f;
    text-transform: uppercase;
    font-size: emCalc(10);
    p {
        margin-bottom: 0;
    }
    a {
        margin-right: emCalc(10);
        color: #a49b9a;
        &:hover {
            color: $alizarin;
        }
    }
    #nav-footer {
        display: block;
        float: right;
        text-align: right;


    }
    #tagline-footer {
        //@include grid-column(9, false, true);
        #copy-container {
            position: relative;
            float: none !important;
            float: left;
            margin-right: auto;
            margin-left: auto;
            padding-right: 0.9375em;
            padding-left: 0.9375em;
            width: 60%;
            color: #2f2f2f;
            a{
            	display: block;
            	text-align: center;
            	
            }
        }
        .copyright {
            //@include grid-column(12);
            @extend .hide-for-small;
            //margin-bottom: emCalc(20);
            float: left;
            line-height: 36px;
        }
        .agence {
            //margin-bottom: emCalc(20);
           	display: block;
            line-height: 36px;
            text-align: center;
            color: #404141;
            font-size: 15px;
            
        }
        a.icon-agency {
            display: block;
            margin-right: emCalc(10);
            margin-left: emCalc(10);
            width: 100%;
            height: 36px;
            background: url(../img/logo/logo-agency.png) no-repeat center;
            text-indent: -9999px;
        }
    }
}

#copyright {
    padding-top: emCalc(20);
    padding-bottom: emCalc(20);
    background: #333;
    text-transform: uppercase;
    font-size: 14px;
    a {
        color: lighten(#222222, 15%);
        &:hover {
            color: darken(#222222, 15%);
        }
    }
    .framework {
        @include grid-column(6);
        p {
            margin-bottom: 0;
            text-transform: capitalize;
        }
    }
    #nav-footer {
        @include grid-column(6);
        text-align: right;

           a{
            margin-right: emCalc(10);
            text-transform: capitalize;

        }
    }
}