@import "compass/css3/border-radius";

// @import "placeholderText.scss";

/*==========  Formulaire Newsletter  ==========*/
.footer-news {
    input[type="email"] {
        height: 40px;
        @include border-radius(5px);
        // @include input-placeholder {
        //     color: #ccc;
        //     padding-left: 10px;
        //     font-size: 1.5em;
        //     line-height: 10px;
        // }
   
    }
    #news-form a.close-reveal-modal i {
        color: $alizarin;
        font-size: 2em;
    }
    input[type="submit"] {
        margin-bottom: 0;
    }
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    @include border-radius(5px);
    height: 30px;
    padding-left: 10px;
    //font-size: emCalc(20);
}

textarea {
    @include border-radius(5px);
}

/*==========  form general  ==========*/
.gform_wrapper {
    input[type=text] {
        height: 47px;
        padding-left: 10px;
    }
    input[type=email] {
        height: 47px;
        padding-left: 10px;
    }
    span.gform_description {
        font-size: 14px;
    }
    .gform_footer {
        input[type=submit] {
            @include border-radius(5px);
            @extend .tiny;
        }
    }
    .ginput_container {
        input[type=email] {
            height: 47px;
            padding-left: 10px;
        }
    }
}

.gform_widget {
    .gform_wrapper {
        input[type=email] {
        margin-bottom: 0;
        }
        .gform_footer {
            margin-top: 0;
            input[type=submit] {
                margin-bottom: 0;
            }
        }
    }
}

/*==========  Formulaire planificateur   ==========*/
.planificateur {
    h2.gsection_title {
        display: block;
        text-align: center;
        font-size: $h2-font-size;
        font-weight: 100;
    }
    .gsection {
        display: inline-block;
        margin-top: emCalc(60);
        width: 100%;
    }
    .gsection_description {
        text-align: center;
    }
    // input[type="submit"]{
    //  @include grid-column(3, false, true, false, false)
    // }
    .gform_footer.top_label {
        @include grid-row;
    }
    input[type="submit"] {
        @include grid-column(4, false, true);
        background: $alizarin;
        border: 0;
        //line-height: emCalc(40);
        text-transform: uppercase;
        display: block;
        @include border-radius(5px);
        &:hover {
            background: #000;
        }
    }
    li.gfield.date.gfield_contains_required {
        float: left;
        display: inline-block;
        clear: none;
        @include grid-column(6, false, true);
    }
    li.plan {
        width: 33%;
        display: inline-block;
    }
    ul li .input {
        float: left;
        margin-bottom: emCalc(30);
    }
    ul li.input ul li {
        @include grid-column(2);
        margin-right: 1em;
        @extend .small-12;
        @extend .column;
        min-width: 250px;
    }
}

.iradio_flat-red,
.icheckbox_flat-red {
    float: left;
    margin-right: 10px;
}

/*==========  Formulaire Contact  ==========*/

#contact {
    input[type="submit"] {
        @include grid-column($columns: 12);
        background: $alizarin;
        border: 0;
        //line-height: emCalc(40);
        text-transform: uppercase;
        display: block;
        @include border-radius(5px);
        &:hover {
            background: #000;
        }
    }
}

/*==========  Select Custom  ==========*/

.selectize-control.single {
    width: 100px;
}

/*==========  Sprite  ==========*/

.login-sprite, .login-icon-password, .login-icon-user {
    background: url("../img/login-s79920aa00e.png") no-repeat;
}

.login-icon-password {
    background-position: 0 0;
    height: 16px;
    width: 12px;
}

.login-icon-password:hover, .login-icon-password.icon-password_hover, .login-icon-password.icon-password-hover {
    background-position: -32px 0;
}

.login-icon-user {
    background-position: -64px 0;
    height: 16px;
    width: 16px;
}

.login-icon-user:hover, .login-icon-user.icon-user_hover, .login-icon-user.icon-user-hover {
    background-position: -100px 0;
}