// Colors
$white: 	#fff;
$black: 	#000;

// Rouge
$pomegranate 	: #c0392b; //Red darken
$alizarin		: #e74c3c; //Red light

// Bleu
$river 			: #3498db; //Blue light
$belize			: #2980b9; //Blue darken
$asphalt		: #34495e; //Blue asphalte

// Gris
$graydark 		: #3b3b3b; //Gray black
$abestos		: #7f8c8d; //Gray darken
$concrete		: #95a5a6; //Gray medium
$silver			: #bdc3c7; //Gray light
$cloud			: #ecf0f1; //Gray lighten

//Jaune
$yellow 		: #f5d615; // Yellow standard

//Orange
$agency 		:#e74c3c;

//Turquoise
$turquoise		:#1abc9c;
$green 			:#16a085;

//Social
$facebook 		:#365d98; //Facebook
$twitter 		:#54aee1; //Twitter
$google-plus 	:#d04e24; //Google plus
$linkedin 	 	:#509ec8; //linkedin


//Clients
$axiline 		:#aed701;

//lpc
$lpcrouge 		:#bc0909;
$lpcvert 		:#1aab8a;
$lpcvertclair 	:#43bb80;
$lpcdarkgray 	:#c2c1c1;
$bandeautitre 	:#494949;
$journal 		:#bc0909;
$voir 			:#e24e28;
$jouer 			:#f8cb21;
$lire 			:#2a7ce6;
$ecouter 		:#9929e6;
$vertespacepro 	:#1abc9c;

//Personnages
$arthur 		:#ec0123;
$agathe 		:#d35d3c;
$sarah 			:#58a6bf;
$gary 			:#89b3a9;
$marianne 		:#9778a6;
