// @import"selection";
@import 'framework_colors';

//Selection
::selection {
    color : $white;
    background : $alizarin;
}

::-moz-selection {
    color : $white;
    background : $alizarin;
}

// Paragraphe


p {
    line-height : emCalc(30);
}

.h1 {
    font-size : $h1-font-size;
}

.h2 {
    font-size : $h2-font-size;
}

.h3 {
    font-size : $h3-font-size;
}

.h4 {
    font-size : $h4-font-size;
}

.h5 {
    font-size : $h5-font-size;
}

.h6 {
    font-size : $h6-font-size;
}

//hr
.separation {
    @extend hr;
}

.side {
    .panel {
        border : none;
    }
}
