@import 'framework_colors';
/*==============================
=            Header            =
==============================*/
li h1#site-title {
    display : inline-block;

    width : 100%;
}

/*==========  Section Header  ==========*/
#top-bar {
    font-weight : 300;

    color : $white;
    background : $alizarin;
    li {
        float : left;

        margin-right : emCalc(10);

        list-style : none;
    }
    a {
        color : $white;
    }
    header {
        padding : emCalc(10) 0;

        @include grid-row;
    }
    #contact-top {
        margin-bottom : 0;

        @extend .hide-for-small;
        @include grid-column(7);
    }
    #social-top {
        // @include grid-column(3);
        display : inline-block;
        float : right;

        margin-bottom : 0;

        text-align : center;
        li {
            float : right;
            a {
                font-size : emCalc(16);

                color : $white;
                //margin-left: 20px;
                i.fa-twitter {
                    &:hover {
                        color : $twitter;
                    }
                }
                i.fa-linkedin {
                    &:hover {
                        color : $linkedin;
                    }
                }
                i.fa-google-plus {
                    &:hover {
                        color : $google-plus;
                    }
                }
                i.fa-facebook {
                    &:hover {
                        color : $facebook;
                    }
                }
            }
        }
    }
}

.contain-to-grid {
    padding : 27px 10px;
    // background: url(../img/background/bg-topbar.png) repeat;

    background : rgba(255,255,255, 0.8);
    // @include opacity(0.7);
    nav.top-bar {
        margin-bottom : 0;
        .name h1 a {
            width : 90%;
        }
    }
    .top-bar-section {
        ul {
            background : none;
            li {
                a {
                    font-weight : 300;

                    text-transform : uppercase;
                    // &:hover {
                    //     background: $black;
                    //     color: $white;
                    //     @include transition(all 0.4s ease-in-out);
                    //}
                }
            }
        }
    }
}
.top-bar-section > ul > .divider ,
.top-bar-section > ul > [role='separator'] {
    display : none;
}
/*-----  End of Header  ------*/
