@import "compass/css3";
@import "framework_colors";
@import "foundation/components/grid";

/*==========  Slider  ==========*/
#slider {
    @include background-size(cover);
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/background/slider.jpg) no-repeat fixed;
    h1 {
        color: white;
        font-weight: 100;
    }
    #tagline {
        display: block;
        width: 100%;
        //padding-top: 15%;
        //height: 100%;
        text-align: center;
        .logosvg {
            @include grid-column($columns: 12);
            // margin-top: 20%;
            margin-bottom: rem-calc(20);
        }
        .tagline {
            display: inline-block;
            margin-bottom: 10px;
            padding: 5px 10px 5px 10px;
            background: rgba(255, 255, 255, 0.7);
            font-weight: 300;
            font-size: rem-calc(30);
        }
        // }
        #action {
            margin-top: 20px;
            text-align: center;
        }
    }
    .arrow {
        @extend .hide-for-small;
        position: absolute;
        bottom: 0;
        left: 50%;
        i {
            @include opacity(0.3);
            color: white;
            font-size: rem-calc(40);
        }
    }
}

.share {
    .essb-fans li a {
        span {
            color: white !important;
        }
        small {
            color: white !important;
        }
    }
}

/*==========  Global  ==========*/

.container {
    h2 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 100;
    }
}

/*==========  Services  ==========*/

#services {
    //float: left;
    padding-top: emCalc(50);
    padding-bottom: emCalc(50);
    background: $white;
    #services-container {
        @include grid-row;
    }
    h3 {
        font-weight: 300;
        font-size: emCalc(30);
    }
    h4 {
        margin-top: emCalc(10);
        text-align: center;
        font-size: $h5-font-size;
    }
    // img{
    //  float: left;
    //  margin-right: 10px;
    // }
    .intro {
        margin-bottom: emCalc(40);
    }
    img {
        display: block;
        margin: auto;
    }
}

/*==========  Divider  ==========*/

#divider-container {
    float: left;
    padding-top: rem-calc(50);
    padding-bottom: rem-calc(50);
    width: 100%;
    background: url(../img/background/unsplash.jpg) 50% 50px no-repeat fixed;
    text-align: center;
    .tagline {
        display: inline-block;
        margin-bottom: rem-calc(10);
        padding: rem-calc(10);
        background: white;
        text-transform: uppercase;
        font-weight: 700;
        font-size: rem-calc(17);
    }
    a {
        margin-top: rem-calc(20);
    }
}

/*==========  Last Project  ==========*/

#project {
    padding-top: 70px;
    #last-project {
        li {
            //border: 1px solid $cloud;
            text-align: center;
            .title {
                padding-top: 10px;
            }
        }
    }
}

/*==========  Contact  ==========*/

#contact {
    .icon-wrap {
        margin: 0 auto;
        padding: 2em 0 3em;
        text-align: center;
    }
    .hi-icon {
        position: relative;
        z-index: 1;
        display: inline-block;
        margin: 15px 30px;
        width: 162px;
        height: 162px;
        border-radius: 50%;
        background: rgba($alizarin, 0.8);
        color: $alizarin;
        text-align: center;
        font-size: 0px;
        cursor: pointer;
    }
    .hi-icon:after {
        position: absolute;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        content: '';
        pointer-events: none;
    }
    .hi-icon:before {
        display: block;
        text-transform: none;
        font-weight: normal;
        font-style: normal;
        font-variant: normal;
        font-size: 48px;
        font-family: 'FontAwesome';
        line-height: 162px;
        speak: none;
        -webkit-font-smoothing: antialiased;
    }
    .icon-magic:before {
        content: "\f0d0";
    }
    .icon-comment:before {
        content: "\f0e6";
    }
    .icon-bookmark:before {
        content: "\f02e";
    }
    // Effect Hover
    #connection {
        span.infos {
            display: block;
            margin-bottom: rem-calc(10);
        }
    }
    .icon-hover {
        .hi-icon {
            @include transition(background 0.2s, color 0.2s);
            background: rgba($alizarin, 0.1);
            &:after {
                @include transition(transform 0.2s, opacity 0.2s);
                @include transform(scale(0.8));
                @include opacity(0);
                top: -7px;
                left: -7px;
                padding: 7px;
                box-shadow: 0 0 0 4px $alizarin;
            }
            &:hover {
                background: rgba($alizarin, 1);
                color: white;
            }
            &:hover:after {
                @include transform(scale(1));
                @include opacity(1);
            }
        }
    }
}

.fb-like.fb_edge_widget_with_comment.fb_iframe_widget {
    margin-right: rem-calc(20);
}

#connection {
    .essb-native-twitter .essb-native-text,
    .essb-native-facebook .essb-native-text {
        padding-top: 6px;
    }
    .essb-native-facebook .essb-native-click{
        padding-left: 11px;
    }
    .essb-native-twitter .essb-native-click{
        padding-left: 6px;
    }
}