@media #{$small-only} {
    #portfolio #filter {
    	height: 100%;
    	margin-bottom: 0;
    	margin-left: 0;
    	float: left;
        li {
            width: 100%;
            float: left;
            margin-right: 0;
        }
    }
    #contact input[type="submit"]{
    	width: 100px;
    }
 .shop #login #login-form{
        @include grid-column($columns : 12); 
    }
}