/*==========  Section Portfolio  ==========*/
.slider{
   
}
#portfolio {
    padding-top: emCalc(40);
    padding-right: emCalc(40);
    padding-bottom: emCalc(40);
    padding-left: emCalc(40);
    text-align: center;
    h1,
    h2 {
        display: block;
        margin: 0;
        text-align: center;
    }
    h1 {
        font-weight: 700;
    }
    h2 {
        font-weight: 300;
        font-size: emCalc(30);
    }
    .icon {
        color: $alizarin;
        font-size: emCalc(20);
    }
    #tagline {
        text-align: center;
    }
    #filter {
        margin-bottom: emCalc(50);
        // height: 50px;
        text-align: center;
        font-size: emCalc(15);
        li {
            @include transition(all 0.4s ease-in);
            display: inline-block;
            margin-right: emCalc(10);
            margin-bottom: emCalc(10);
            padding: emCalc(5);
            border: 1px solid $black;
            text-transform: uppercase;
            cursor: pointer;
            &:hover {
                border: 1px solid $alizarin;
                background: $alizarin;
                color: $white;
            }
        }
    }
    #grid .mix {
        display: none;
        opacity: 0;
    }
    h4 {
        display: block;
        margin-bottom: 0;
        text-align: center;
    }
    .category {
        a {
            @include transition(all 0.5s ease-in-out 0s);
            //display: block;
            color: $silver;
            text-align: center;
            font-style: italic;
        }
    }
    .thumb {
        @include transition(all 0.5s ease-in-out 0s);
        overflow: hidden;
        width: 100%;
        height: 100%;
        border-bottom: 5px solid $cloud;
        &:hover {
            border-bottom: 5px solid $alizarin;
        }
        img {
            @include opacity(0.7);
            @include transition(all 0.5s ease-in-out 0s);
            &:hover {
                @include opacity(1);
                @include transform(rotate(5deg) scale(1.1));
            }
        }
    }
}

/*==========  Single Page Portfolio  ==========*/
#single-projets {
    @include grid-row;
    padding-top: emCalc(30);
    #picture {
        //@include grid-column(8);
   
    }
    #sidebar {
        //@include grid-column(4);
        //font-size: emCalc(16);
        //
        header {
            @include grid-column(12);
            border-bottom: 1px solid $silver;
            //padding-top: emCalc(20);
            .nav-projets {
                @include grid-column(12);
                text-align: right;
                padding-bottom: emCalc(10);
                padding-right: 0;
                i {
                    font-size: emCalc(20);
                    color: $silver;
                    &:hover {
                        color: $alizarin;
                    }
                }
            }
        }
        .description {
            line-height: emCacl(16);
            padding-bottom: emCalc(20);
        }
        .category {
            padding-bottom: emCalc(10);
            padding-top: emCalc(10);
            border-bottom: 1px solid $silver;
            margin-bottom: emCalc(10);
            @include grid-column(12);
            @extend .hide-for-small;
            h2 {
                @include grid-column(12);
                text-align: center;
                font-weight: 700;
            }
            a {
                color: $silver;
                font-style: italic;
            }
        }
        .infos {
            padding: emCalc(10);
            background: $cloud;
            p {
                margin: 0;
                font-size: emCalc(14);
                span {
                    margin-right: 10px;
                }
            }
            a {
                margin-top: 10px;
            }
        }
    }
}

/*==========  Relation Post  ==========*/
#relation-post {
    @include grid-row;
    margin-top: 20px;
    span.tagline {
        display: block;
        margin-top: 0;
        color: $silver;
        font-size: emCalc(14);
    }
    #content-relation {
        @include grid-column(7, false, true);
        h4 {
            display: block;
            text-align: center;
            font-size: emCalc(14);
        }
        .category {
            display: block;
            text-align: center;
            font-size: emCalc(12);
            a {
                color: $silver;
            }
        }
    }
}