/*==========  Section Post  ==========*/

#post {
    padding: emCalc(30) 0;
    .post {
        background: $white;
        margin-bottom: emCalc(50);
        h2 {
            a {
                font-weight: 700;
                color: $black;
            }
        }
        .thumb {
            position: relative;
            a.screenshot {
                @include transition(all 0.4s ease-in);
                &:hover {
                    @include opacity(0.4);
                }
            }
            span.thumb-hover {
                @include opacity(0);
                position: absolute;
                top: 50%;
                left: 50%;
                font-size: emCalc(50);
                &:hover {
                    @include opacity(1);
                }
            }
        }
        .content-blog {
            @include grid-column(12);
            line-height: emCalc(20);
        }
        .entry-content {
            @include grid-column(12);
        }
        .footer {
            padding: emCalc(20);
            @include grid-column(12);
            background: $cloud;
            p {
                margin-bottom: 0;
            }
            i {
                display: inline-block;
                float: left;
                margin-right: emCalc(10);
                line-height: emCalc(10);
            }
            .tags {
                @include grid-column(6);
                ul {
                    margin-bottom: 0;
                    li {
                        list-style: none;
                        display: inline-block;
                        a {
                            color: $white;
                            font-weight: 300;
                            padding: emCalc(5);
                            margin-right: emCalc(10);
                            background: $turquoise;
                            text-transform: uppercase;
                            font-size: emCalc(10);
                            letter-spacing: 2px;
                            @include border-radius(3px);
                            @include transition(all 0.4s ease-in);
                            &:hover {
                                background: $alizarin;
                            }
                        }
                    }
                }
            }
            .readmore {
                @include grid-column(6);
                text-align: right;
            }
        }
    }
}

/*==========  Sidebar Post  ==========*/

#sidebar-blog {
    li {
        list-style-type: none;
    }
    // input[type="submit"]{
    // 	display: none;
    // }
    .gform_footer {
        display: none;
    }
    .widget {
        border-bottom: 1px solid $silver;
        padding: emCalc(10) 0;
    }
}

/*==========  Post Full  ==========*/
#post-blog {
	width: 100%;
    background: $white;

    &:before,&:after{
    	content: " ";
  		display: table;
    }

    &:after{
    	clear: both;
    }

    .post-full {
        padding-top: emCalc(30);
        //@include grid-column(4);
        .cover-full {
            position: relative;
            background: $silver;
            h1 {
                padding: emCalc(10);
                margin-bottom: 0;
            }
            footer {
                background: $asphalt;
                @include grid-column(12);
                font-size: emCalc(10);
                .date-full {
                    bottom: 0;
                    padding: emCalc(10);
                    color: $white;
                    text-transform: uppercase;
                    float: left;
                    margin-left: emCalc(10);
                }
                .author-full {
                    text-transform: uppercase;
                    float: right;
                    margin-right: emCalc(10);
                    h5 {
                        color: $white;
                        font-size: emCalc(15);
                        margin-bottom: 0;
                        a {
                            color: $white;
                        }
                    }
                    p {
                        margin-bottom: 0;
                    }
                }
            }
            a.title-full {
                text-transform: uppercase;
                font-size: emCalc(30);
                font-weight: 700;
                color: $white;
                //@include text-shadow(black 1px 1px 0);
           
            }
        }
    }
}

/*==========  Post Content  ==========*/
#post-content {
    @include grid-row();

      #nav-post {
        @include grid-row;
        .arrowLeft {
            text-align: left;

            span{
            	display: block;

            	a{
            		color: $black;
            		font-size: emCalc(20)
            	}
            	
            }
        }
        .arrowRight {
            text-align: right;

            span{
            	display: block;
            	a{
            		color: $black;
            		font-size: emCalc(20)
            	}
            	
            }
        }
    }
}