@import"compass/css3";
body{
	//display:none;
}
#jpreOverlay {
	background: url(../img/logo/Loader_a13.gif) no-repeat whitesmoke center;
}
#jpreSlide{
	font-size:22px;
	font-weight:bold;
	color:#ccc;
	text-align:center;
	width:50%;
	height:30%;
}
#jprePercentage {
	color:#ccc;
	font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
	font-weight:bold;
	text-align:center;
	text-shadow:1px 1px 1px #333;
	top:-100%;
}
#jpreLoader{
	width:300px;
	height:25px;
	@include box-shadow(0 0 7px 3px #fff);
	@include border-radius (25px);
}