.login-sprite ,
.login-lock ,
.login-lock_focus ,
.login-user ,
.login-user_focus {
    background : url('../img/sprite/login-sd7e9b922f1.png') no-repeat;
}

.login-lock {
    background-position : 95% -45px;
}

.login-lock:focus {
    background-position : 95% 3px;
}

.login-user {
    background-position : 95% -90px;
}

.login-user:focus {
    background-position : 95% -130px;
}

.shop {
    h1 {
        &.title-shop {
            font-size : 30px;
            font-weight : bold;

            margin-top : 20px;
            margin-bottom : 20px;

            text-align : center;
        }
    }
    .login {
        @include border-radius(0 0 5px 5px);

        float : right;

        padding : 10px;

        background : #333;
        &:before {
            font-family : fontawesome;

            margin-right : 10px;

            content : '\f007';

            color : #e74c3c;
        }
        a {
            font-weight : bold;

            color : white;
        }
    }
    //login page
    #login {
        @include grid-column($columns : 12);

        background : $alizarin;
        h2 {
            font-size : 30px;
            font-weight : bold;

            margin-top : 20px;

            text-transform : capitalize;

            color : white;
        }
        #login-form {
            @include grid-column($columns : 6, $center: true);
            @include border-radius(5px);

            margin-top : 30px;
            margin-bottom : 30px;
            padding-top : 20px;
            padding-bottom : 20px;

            background : white;
            input[type=text] ,
            input[type=password] {
                height : 37px;
            }
            input#user_login {
                // background: url("../img/ico/icon-email.png") no-repeat 10px center;
                @extend .login-sprite;
                @extend .login-user;
                @include border-radius(5px);

                width : 100%;
                padding-right : 35px;
            }
            input#user_pass {
                // background: url("../img/ico/icon-lock.png") no-repeat 10px center;
                @extend .login-sprite;
                @extend .login-lock;
                @include border-radius(5px);

                width : 100%;
                padding-right : 35px;
            }
        }
        .button-primary {
            @extend .button;
            @include border-radius(5px);

            margin-bottom : 0;
        }
    }
}

.shop-bar {
    margin-top : 20px;
    li {
        list-style : none;
    }
    //Details spec
    .widget_edd_software_specs_widget {
        #isa-edd-specs {
            border : none;
            caption {
                padding-left : 10px;

                text-align : left;

                background : none;
            }
            table {
                // border: none
            }
            tr {
                border-top : 1px solid #ebebeb;
            }
            td {
                border : none;
            }
        }
    }
}

.product {
    .name-product {
        @include grid-column($columns : 12);

        height : 60px;
        padding-right : 0;
        padding-left : 0;
        h2 {
            &.title {
                @include grid-column($columns : 8);

                font-size : 14px;
                font-weight : bold;

                padding-left : 0;

                text-transform : normal;
            }
        }
    }
}

h1 {
    &.logo-store {
        display : block;

        margin-bottom : 20px;

        text-align : center;
    }
}

#header-shop {
    @include grid-row;
    .cart {
        @include border-radius(0 0 5px 5px);

        float : left;

        padding : 10px;

        background : #f9f9f8;
    }
}

.product-image {
    a {
        position : relative;

        display : block;
        overflow : hidden;

        height : 100%;
    }
    .excerpt {
        @include opacity(0);

        position : absolute;
        top : 0;
        bottom : 0;

        padding : 40px 10px;

        color : white;
        background : rgba(0, 0, 0, 0.8);
        &:hover {
            @include single-transition(all, 300ms, ease-out);
            @include opacity(1);
        }
        p {
            font-size : 12px;
            line-height : 16px;
            &.excerpt-badge {
                @include border-radius(25px);

                max-width : 150px;
                margin : 0 auto;
                padding : 10px;

                text-align : center;

                border : 2px solid white;
                &:hover {
                    @include single-transition(all, 300ms, ease-out);

                    color : black;
                    background : white;
                }
            }
        }
    }
}

.edd_purchase_submit_wrapper {
    .edd-submit.button.blue {
        @include border-radius(5px);
    }
}

//Product
.product-meta {
    &.content {
        .single-product-price {
            .edd_price {
                font-size : 35px;
                font-weight : bold;

                display : block;
            }
        }
    }
}

//Price
.product-price {
    @include grid-column($columns : 4, $float: right);

    margin-top : 5px;
    padding-right : 0;

    text-align : center;
    .edd_price {
        @include border-radius(0 5px 5px 0) ;

        font-size : 12px;
        font-weight : bold;

        display : block;

        padding : 5px;
        float: right;
        color : white;
        border : 2px solid $primary-color;
        background : $primary-color;

        &::before {
            width : 0;
            height : 0;

            border-width : 13px 22.5px 13px 0;
            border-style : solid;
            border-color : transparent #e74d3c transparent transparent;
        }
    }
}
/*==========  Single Page Product  ==========*/

#page-product {
    padding : 38px 51px 39px 38px;

    background : white;
    .panel {
        &.widget {
            border : none;
        }
    }
    a {
        &.edd-add-to-cart {
            @include border-radius(5px);
        }
    }
    .product-content {
        img {
            margin-bottom : 20px;
        }
        //Images suplementaires
        ul {
            margin-bottom : 20px;
            margin-left : 0;
            padding-bottom : 20px;

            border-bottom : 1px solid $cloud;
            li {
                list-style : none;
                &.edd-di-image {
                    overflow : hidden;

                    width : 150px;
                    height : 98px;
                }
            }
        }
        .edd_download_purchase_form {
            .edd-submit {
                @include border-radius(5px);
            }
        }
        //Produit similaire
        #isa-related-downloads {
            padding-top : 10px;

            border-top : 1px solid $cloud;
        }
    }
    .product-meta {
        h2 {
            &.title {
                margin-bottom : 10px;
                padding-bottom : 10px;

                border-bottom : 1px solid $cloud;
            }
        }
        .edd-submit {
            @include border-radius(5px);
        }
    }
}

/*==========  Sidebar shop  ==========*/
.widget_edd_cart_widget {
    background : lighten($cloud, 2%);
    h4 {
        &:before {
            font-family : fontawesome;

            margin-right : 10px;

            content : '\f07a';
        }
    }
}

/*==========  Page store 2  ==========*/
#store {
    margin-bottom : 20px;
    padding : 38px 51px 39px 38px;

    background : white;
    h1 {
        font-size : 24px;
        font-weight : 500;
    }
}

/*==========  Widget Shop   ==========*/
.sales-product {
    @include border-radius(5px);

    font-size : 20px;
    font-weight : bold;

    width : 100%;
    margin-top : 10px;
    margin-bottom : 20px;
    padding : 20px;

    background : #f7f7f7;
}
.gform_widget {
    .gform_body {
        .ginput_container {
            input {
                padding-left : 10px;
            }
        }
    }
}
/*==========  spec  ==========*/

.widget_edd_software_specs_widget {
    padding : 0;
    #isa-edd-specs {
        @include border-radius(5px);

        font-size : 14px;

        border-collapse : collapse;

        border : none;
        background : #f7f7f7;
        caption {
            display : none;
        }
        td {
            border : none;
        }
    }
}

/*==========  Achives  ==========*/
#archive {
    li {
        list-style : none;
        &.archive {
            margin-bottom : 20px;
        }
    }
}

/*==========  Fix  ==========*/
.edd_purchase_submit_wrapper {
    float : left;
}
