.side {
    .widget-top {
        &.panel {
            background: #333;
            color: white;
            h4 {
                color: white;
                border-bottom: 1px solid lighten(#333333, 15%);
                padding-bottom: 5px;
            }
        }
    }
    .panel {
        &.widget {
            h4 {
                border-bottom: 1px solid $cloud;
                padding-bottom: 5px;
            }
            ul{
            	margin-left: 0;
            }
        }
    }
}