@media #{$medium-only} {
    #dev,
    #ui-ux,
    #mobile,
    #planificateur,
    #connection,
    #newsletter {
        @include grid-column($columns: 4);
    }

    #serv-design,
    #serv-dev,
    #serv-commerce,
    #serv-ux{
    	@include grid-column($columns : 3); 
    }

    #statistic{
    	li{
    	@include grid-column($columns : 3); 
    		
    	}
    }
}