$h1-font-size: rem-calc(44);
$h2-font-size: rem-calc(37);
$h3-font-size: rem-calc(27);
$h4-font-size: rem-calc(23);
$h5-font-size: rem-calc(18);
$h6-font-size: 1rem;
/*==========  Header  ==========*/
h1,h2,h3,h4,h5,h6{
	font-weight: 100;
	text-transform: uppercase;
}
h1{font-size: $h1-font-size;}
h2{font-size: $h2-font-size;}
h3{font-size: $h3-font-size;}

h4{}
h5{}
h6{}
