@import "compass/css3/box-shadow";

body.login {
    background: whitesmoke;
}

.login {
    h1 a {
        background: url(../../img/logo/logo-login.png) no-repeat top center;
        width: 312px;
        height: 37px;
        text-indent: -9999px;
        overflow: hidden;
        padding-bottom: 15px;
        display: block;
    }
    form {
        margin-left: 8px;
        padding: 26px 24px 46px;
        font-weight: normal;
        background: white;
        border: 1px solid #E5E5E5;
        border-radius: 3px;
        box-shadow: none;
    }
    input[type="text"]{
        padding-left: 60px;
        background:url(../../img/icons/user.png) no-repeat 10px center;
    }
    input[type="password"]{
                padding-left: 60px;
        background:url(../../img/icons/password.png) no-repeat 10px center;


    }
}

body form .input {
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
    font-weight: 200;
    font-size: 24px;
    width: 97%;
    padding: 3px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: none;
    @include box-shadow(rgba(black, 0.2) 1px 1px 2px inset);
}