// Colors
$white: 	#fff;
$black: 	#000;

// Rouge
$pomegranate 	: #c0392b; //Red darken
$alizarin		: #e74c3c; //Red light

// Bleu
$river 			: #3498db; //Blue light
$belize			: #2980b9; //Blue darken
$asphalt		: #34495e; //Blue asphalte

// Gris
$graydark 		: #3b3b3b; //Gray black
$abestos		: #7f8c8d; //Gray darken
$concrete		: #95a5a6; //Gray medium
$silver			: #bdc3c7; //Gray light
$cloud			: #ecf0f1; //Gray lighten

//Jaune
$yellow 		: #f5d615; // Yellow standard

//Orange
$agency 		:#e74c3c;

//Turquoise
$turquoise		:#1abc9c;
$green 			:#16a085;

//Social
$facebook 		:#365d98; //Facebook
$twitter 		:#54aee1; //Twitter
$google-plus 	:#d04e24; //Google plus
$linkedin 	 	:#509ec8; //linkedin


//Clients
$axiline 		:#aed701;