
<div id="partenaires" class="section">
<h2>Nos partenaires</h2>

<hr />

<ul class="row">
	<li><a title="assomarket logo" href="http://assomarket.net" target="_blank">
<img src="http://gfx.wecoastdesign.com/partenaires/assomarket.png" alt="assomarket | solutions web pour associations" /></a></li>
	<li><a title="wecoastdesign Network logo" href="http://wecoastdesign.com" target="_blank">
<img src="http://gfx.wecoastdesign.com/partenaires/wecoastdesign.png" alt="Wecoastdesign Network | Resaux sites créatifs" /></a></li>
</ul>
<a title="partenaires" href="/partenaires">Voir tous nos partenaires</a>
|
<a title="devenir partenaires" href="/contact">Devenir Partenaires</a>

</div>
<div id="tweets" class="section">
<h2>Nos tweets</h2>

<hr />

<span class="bird"> <i class="fa fa-twitter"></i>
</span>
<div class="view">[rotatingtweets screen_name='Agencythirteen' include_rts='1' tweet_count='1' timeout='3000']</div>
</div>